# Tools
[submodule "pack/tools/start/ale"]
	path = pack/tools/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "pack/tools/start/vim-buffergator"]
	path = pack/tools/start/vim-buffergator
	url = https://github.com/jeetsukumaran/vim-buffergator.git
[submodule "pack/tools/start/ctrlp.vim"]
	path = pack/tools/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "pack/tools/start/vim-endwise"]
	path = pack/tools/start/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "pack/tools/start/vim-gitgutter"]
	path = pack/tools/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "pack/tools/start/nerdcommenter"]
	path = pack/tools/start/nerdcommenter
	url = https://github.com/preservim/nerdcommenter.git
[submodule "pack/tools/start/nerdtree"]
	path = pack/tools/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "pack/tools/start/sessionman.vim"]
	path = pack/tools/start/sessionman.vim
	url = https://github.com/vim-scripts/sessionman.vim.git
[submodule "pack/tools/start/supertab"]
	path = pack/tools/start/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "pack/tools/start/tabular"]
	path = pack/tools/start/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "pack/tools/start/ultisnips"]
	path = pack/tools/start/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "pack/tools/start/vim-airline"]
	path = pack/tools/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "pack/tools/start/vim-airline-themes"]
	path = pack/tools/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "pack/tools/start/vim-devicons"]
	path = pack/tools/start/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons.git
[submodule "pack/tools/start/vim-snippets"]
	path = pack/tools/start/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "pack/tools/start/ZoomWin"]
	path = pack/tools/start/ZoomWin
  url = https://github.com/vim-scripts/ZoomWin.git
  ignore = dirty

# Languages
[submodule "pack/languages/start/csv.vim"]
	path = pack/languages/start/csv.vim
	url = https://github.com/vim-scripts/csv.vim.git
  ignore = dirty
[submodule "pack/languages/start/vim-git"]
	path = pack/languages/start/vim-git
	url = https://github.com/tpope/vim-git.git
[submodule "pack/languages/start/vim-haml"]
	path = pack/languages/start/vim-haml
	url = https://github.com/tpope/vim-haml.git
[submodule "pack/languages/start/vim-javascript"]
	path = pack/languages/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "pack/languages/start/vim-markdown"]
	path = pack/languages/start/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "pack/languages/start/vim-rails"]
	path = pack/languages/start/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "pack/languages/start/vim-rspec"]
	path = pack/languages/start/vim-rspec
	url = https://github.com/skwp/vim-rspec.git
[submodule "pack/languages/start/vim-ruby"]
	path = pack/languages/start/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "pack/languages/start/scss-syntax.vim"]
	path = pack/languages/start/scss-syntax.vim
	url = https://github.com/cakebaker/scss-syntax.vim.git
[submodule "pack/languages/start/typescript-vim"]
	path = pack/languages/start/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "pack/languages/start/vim-latex"]
	path = pack/languages/start/vim-latex
	url = https://github.com/vim-latex/vim-latex.git
[submodule "pack/languages/start/rust.vim"]
	path = pack/languages/start/rust.vim
	url = https://github.com/rust-lang/rust.vim
